* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('fondo.jpg');
}

.form-register {
  width: 600px;
  background: #1C2525;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 20px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #1C2525;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  border: 1px solid #E7301C;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register .botons {
  width: 100%;
  background: #E7301C;
  border: none;
  padding: 12px;
  border-radius: 50px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}



